<div class="modal-body"
     data-ng-swipe-left="Lightbox.nextImage()"
     data-ng-swipe-right="Lightbox.prevImage()">
    <div class="lightbox-nav">
        <button class="close" aria-hidden="true" data-ng-click="$dismiss()">
            <span class="glyphicon glyphicon-eye-close"></span>
        </button>
        <div class="btn-group">
            <a class="btn btn-xs btn-default" data-ng-click="Lightbox.prevImage()">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <a data-ng-href="{{Lightbox.imageUrl}}" target="_blank" class="btn btn-xs btn-default" title="Open">
                <span class="glyphicon glyphicon-open"></span>
            </a>
            <select class="btn btn-default lightbox-btn-select"
                    data-ng-model="Lightbox.image"
                    data-ng-options="page for page in Lightbox.pages()"
                    data-ng-change="Lightbox.update()">
            </select>
            <a class="btn btn-xs btn-default" data-ng-click="Lightbox.nextImage()">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </div>
    </div>
    <div class="lightbox-image-container">
        <img lightbox-src="{{Lightbox.imageUrl}}" alt="{{Lightbox.imageCaption}}"/></div>
</div>